.card{
  max-width: 270px;
  margin: 20px;
  width: 100%;
  box-shadow: 2px 8px 20px rgb(226, 225, 225);
  border-radius: 10px;
  padding: 1rem;
  transition: 0.5s linear;
  position: relative;
  background:#C5D8A4;
}

.card:hover{
  box-shadow: none;
  cursor: pointer;
}

.card img{
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.card .box h3{
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 0.3rem;
}
.card .box h3 span{
  inset: 0;
  position: absolute;
  bottom: 65px;
}
.card .box h4{
  color: crimson;
}
.card .box .btn_div{
  display: flex;
}
.card .box .btn_div button{
  width: 100%;
  border: none;
  outline: none;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.card .box .btn_div .btn_edit{
  background: rgb(0, 172, 172);;
  margin-right: 5px;
}

.card .box .btn_div .btn_delete{
  background: rgb(20, 220, 127);
  width: 150px;
  margin-left: auto;
  border-radius: 10px;
  z-index:9999;
}
h4{
  margin-top: 10px;
}
#plus-cart{
  font-size: 14px;
}